@import url("https://fonts.googleapis.com/css2?family=Montserrat&display=swap");

.output-cont {
  width: 100wh;
  /* height: 130vh; */
  height: auto;
  min-height: 100vh !important;
  padding: 10px;
  color: rgb(0, 0, 0);
  background: linear-gradient(-45deg, #ffffff, #ffa4c7, #7fddff, #b0ffec);
  background-size: 400% 400%;
  -webkit-animation: Gradient 15s ease infinite;
  -moz-animation: Gradient 15s ease infinite;
  animation: Gradient 15s ease infinite;
}

.output-title {
  font-family: "Montserrat", sans-serif;
  text-align: center;
  padding-top: 5vh;
  /* font-size: 40px; */
}

.flex-container {
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  justify-content: space-between;
  align-items: stretch;
  align-content: stretch;
  background: #d2d5ff73;

  width: 100wh;
  height: auto;
  text-decoration: none;
  padding: 10px 5px;
  border: none;
  /* font-size: 22px; */
  border-radius: 6px;

  color: white;
  font-weight: bold;
  transition: 0.3s ease all;
  box-shadow: 5px 5px 6px rgba(0, 0, 0, 0.292);
  /* border: 2px solid forestgreen; */
  /* width: 800px; */
  /* height: 200px; */
}

.flex-items {
  display: block;
  flex-grow: 0;
  flex-shrink: 1;
  flex-basis: auto;
  align-self: auto;
  order: 0;
  background-color: #aee7ff;
  border-radius: 6px;
  border: 0;
  box-sizing: border-box;
  color: rgb(3, 0, 0);
  font-size: 20px;
  height: 100%;
  outline: 0;
  padding: 4px 20px;
  margin: 10px;
  width: 99%;
  cursor: pointer;
}

.t {
  border-bottom: 1px solid black;
}

.flexi-container {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: space-around;
  align-items: flex-start;
  align-content: center;
}

.flexi-items {
  display: block;
  flex-grow: 0;
  flex-shrink: 1;
  flex-basis: auto;
  align-self: auto;
  order: 0;
  width: 200px;
  align-content: center;
}

.image {
  height: 500px;
  width: 500px;
}
